.day-word {
	position: relative;
	padding: 10px 16px 8px;
	box-shadow: 0 0 5px #555;
	> img {
		width: 100%;
		height: auto;
	}
	> p {
		position: absolute;
		font-weight: bold;
		-webkit-text-fill-color: transparent;
		text-shadow: 5px -5px #111, 4px -4px white;
		background: #EEE url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAHklEQVQImWNkYGBgYGD4//8/A5wF5SBYyAr+//8PAPOCFO0Q2zq7AAAAAElFTkSuQmCC) repeat;
		-webkit-background-clip: text;
		// let boxShadow = "0px 1px 0px #333, 0px 1px 0px #222, 0px 1px 0px #222, 0px 2px 0px #111, 0px 2px 0px #222, 0px 2px 0px #444, 0px 1px 0px #333, 0px 26px 7px #555";
	}
}

.home-banner {
	margin-bottom: 15px;
}

