.day-word {
    position: relative;
	padding: 12px 10px 9px;
    box-shadow: 0 0 5px #555;
    > img {
        width: 100%;
    }
    > p {
        position: absolute;
        right: 23px;
        top: 38%;
        width: 60%;
        color: #fff;
        font-size: 15px;
    }
}

.home-banner {
    margin: 20px 0 5px;
}