$main-color: #3197EF;
$link-color: #108ee9;

body {
    background-color: #f9f9f9;
}

.text-center {
    text-align: center;
}

.panel-heading {
    padding: 10px 15px;
    color: #333;
    font-size: 16px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}
.panel-body {
    padding: 15px;
}

.fl {
    float: left;
}
.pagination {
    margin: 15px 0;
    text-align: right;
}
.clearfix{
    *zoom:1;
}
.clearfix:after { 
   content:"";
   display:table;
   clear:both;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1100px;
    }
}