.bread-crumb {
    height: 38px;
    margin: 22px 0 20px;
    padding: 0 25px;
    line-height: 38px;
    font-size: 14px;
    box-shadow: 0 0 8px #444;
}
@media (max-width: 767px) {
	.bread-crumb {
		margin: 13px 0 13px;
		padding-left: 15px;
	}
	
}