$main-color: #3197EF;
$nav-top-height: 40px;
$nav-side-width: 210px;
$fold-nav-side-width: 64px;
$nav-color: #404040;

#react-root {
	height: 100%;
}

body {
    background-color: #f9f9f9;
}

.wrapper {
	height: 100%;
	padding-top: $nav-top-height;
}

.content {
	position: relative;
	height: 100%;
}

.main-content {
	height: 100%;
	margin-left: $nav-side-width;
	transition: margin-left 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.fold + .main-content {
	margin-left: $fold-nav-side-width;
}

.text-center {
    text-align: center;
}

.fl {
    float: left;
}
.fr {
	float: right;
}

.pagination {
    margin: 15px 0;
    text-align: right;
}
.clearfix{
    *zoom:1;
}
.clearfix:after { 
   content:"";
   display:table;
   clear:both;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1100px;
    }
}
