.filters {
	margin-top: 15px;
	font-size: 15px;
}

.filters .filter {
	margin: 3px;
	padding: 3px 7px;
	text-decoration: none;
	border-radius: 3px;
}

.filters .selected {
	border: 1px solid transparent;
}

.filters .not-selected {
	color: black;
	border: 1px solid;
	border-color: rgba(47, 47, 47, 0.4);
}