.article-detail {
	padding: 15px 35px;
	font-size: 14px;
	box-shadow: 0 0 6px #666;
}

.blog-title {
	padding: 7px 0;
	font-size: 19px;
	font-weight: bold;
}

.blog-top {
	color: #aaa;
	margin-top: -2px;
	margin-bottom: 11px;
	>.spliter {
		height: 13px;
		margin: 0 8px;
		display: inline-block;
		vertical-align: -2px;
		border-left: 1px solid #ccc;
	}
}

.blog-content {
	margin: 22px 0;
	font-size: 15px;
	word-spacing: 2px;
	line-height: 22px;
	overflow: auto;
	word-wrap: break-word;
}

.syntaxhighlighter {
	margin: 3px 0 6px!important;
}

.syntaxhighlighter .gutter {
	padding: 2px 0!important;
}