.markdown-wrap {
	margin-top: 15px;
	padding-top: 7px;
	border-top: 1px solid #eee;
}
.markdown-content {
	width: 100%;
	padding: 6px 8px;
	outline: none;
	border-radius: 3px;
	transition: all 400ms;
	&:focus {
		border-color: #49a9ee;
		box-shadow: 0 0 0 2px rgba(16,142,233,.2);
	}
}

.markdown-preview {
	color: #111;
	font-size: 15px;
	p, ol, ul, table, pre {
		margin-bottom: 8px;
	}
	code {
		margin: 0;
		padding: 0.2em 0.4em;
		background-color: rgba(27,31,35,0.05);
	}
	pre {
		font-size: 14px;
		color: #eee;
		padding: 6px 12px;
		overflow: auto;
		border-radius: 2px;
		background-color: #111;
		> code {
			padding: 0;
			background-color: inherit;
			font-family: Consolas,"Microsoft YaHei",Menlo,Courier,monospace;
		}
	}
	blockquote {
		p {
			margin-bottom: 0;
		}
		color: #505050;
		padding: 13px 10px;
		margin-top: 3px;
		margin-bottom: 13px;
		background-color: #f1f1f1;
		border-left: 0.25em solid #ccc;
		font-family: Consolas,"Microsoft YaHei",Menlo,Courier,monospace;
	}
	h1, h2 {
		padding-bottom: 5px;
		border-bottom: 1px solid #eaecef;
	}
	h1, h2, h3 {
		margin-top: 20px;
		margin-bottom: 10px;
		color: #24292e;
		line-height: initial;
	}
	h4, h5, h6 {
		margin-top: 10px;
		margin-bottom: 6px;
	}
	h1, h2, h3, h4, h5, h6 {
		font-weight: 600;
	}
	h1 {
		font-size: 26px;
	}
	h2 {
		font-size: 22px;
	}
	h3 {
		font-size: 19px;
	}
	h4 {
		font-size: 17px;
	}
	h5 {
		font-size: 15px;
	}
	h6 {
		font-size: 13px;
	}
	ol {
		list-style: inside decimal;
	}
	ul {
		list-style: inside circle;
	}
	ol, ul {
		padding-left: 2px;
	}
}

.hljs {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	background: #23241f;
}

.hljs,
.hljs-tag,
.hljs-subst {
	color: #f8f8f2;
}

.hljs-strong,
.hljs-emphasis {
	color: #a8a8a2;
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
	color: #ae81ff;
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
	color: #a6e22e;
}

.hljs-strong {
	font-weight: bold;
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
	color: #f92672;
}

.hljs-symbol,
.hljs-attribute {
	color: #66d9ef;
}

.hljs-params,
.hljs-class .hljs-title {
	color: #f8f8f2;
}

.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
	color: #e6db74;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
	color: #828073;
}