.content-editable {
	margin: 6px 0 12px;
	padding: 6px 10px;
	border: 1px solid #ddd;
	color: #111;
	min-height: 300px;
	outline: none;
	overflow: auto;
	font-size: 16px;
	border-radius: 3px;
	white-space: pre;
	transition: all 400ms;
	&:focus {
		border-color: #49a9ee;
		box-shadow: 0 0 0 3px rgba(16,142,233,.2);
	}
}